//override toastr colors with bmg-ui defaults
.toast-success {
    background-color: $bmg-success;
}

.toast-success .toast-title {
  color: $bmg-white;
}

.toast-success button {
  color: $bmg-white;
}


.toast-warning {
    background-color: $bmg-warning;
}

.toast-warning .toast-title {
  color: $bmg-white;
}

.toast-warning button {
  color: $bmg-white;
}


.toast-info {
    background-color: $bmg-info;
}

.toast-info .toast-title {
  color: $bmg-white;
}

.toast-info button {
  color: $bmg-white;
}


.toast-error {
    background-color: $bmg-error;
}

.toast-error .toast-title {
  color: $bmg-white;
}

.toast-error button {
  color: $bmg-white;
}