tr.activity:hover + tr.activity-info {
  background-color: rgba(218, 218, 218, 0.25);
}

table.table-activities > tbody tr.activity-info.collapse > td {
  border-top: 1px solid transparent;
  padding: 2px 4px 32px 4px;
}

