$modal-padding-left-right: 40px;
$model-padding-inner: 12px;
$model-padding-body-inner: 20px;
$model-padding-top-bottom: 25px;

.modal-content {
  .close:hover {
    opacity: 1;
  }

  > .modal-close {
    position: absolute;
    top: 30px;
    right: 40px;
    color: $bmg-black;
  }

  > .modal-header {
    padding: $model-padding-top-bottom $modal-padding-left-right $model-padding-inner $modal-padding-left-right;
    border-bottom: 1px solid $bmg-gray-lighter;
  }

  > .modal-body {
    padding: $model-padding-body-inner $modal-padding-left-right;
  }

  > .modal-footer {
    padding: $model-padding-body-inner $modal-padding-left-right;
    border-top: 1px solid $bmg-gray-lighter;
  }
}
