$tab-status-height: 20px;
$link-height: 60px;

.tab-status {
    display: inline-block;
    position: absolute;
    top: ($link-height - $tab-status-height) / 2;
    right: 20px;
    height: $tab-status-height;
    width: $tab-status-height;
    border-radius: $tab-status-height / 2;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: $tab-status-height;
    color: $bmg-white;

    .fa {
        margin-right: 0;
        font-weight: 400;
    }
}

.status-error {
    background-color: $bmg-error;
}

.status-warning {
    background-color: $bmg-warning;
}

.status-success {
    background-color: $bmg-success;
}
