.progress-status {
  width: auto;
  height: 60px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.progress-display-status {
  position: relative;
  width: inherit;
  z-index: 0;
  white-space: nowrap;
}

.status-finished {
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  background-color: $bmg-carrot;
  border-radius: 50%;
  display: inline-block;
  margin: auto 20px;
}

.status-active {
  width: 30px;
  height: 30px;
  line-height: 28px;
  font-size: 17px;
  font-weight: 600;
  color: $bmg-carrot;
  display: inline-block;
  margin: auto 12px;
  border: 1px solid $bmg-carrot;
  border-radius: 50%;
  text-align: center;
  background-color: $bmg-white;
}

.status-open {
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  background-color: $bmg-celeste;
  border-radius: 50%;
  display: inline-block;
  margin: auto 20px;
}

.status-percentage {
  line-height: 18px;
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
  border-left: 2px solid $bmg-celeste;
  color: $bmg-carrot;
  display: inline-block;
  margin: auto 20px;
}

.status-percentage-text {
  line-height: 10px;
  font-size: 10px;
  font-weight: normal;
  display: block;
}

.status-line {
  position: absolute;
  top: 15px;
  left: 30px;
  right: 30px;
  height: 1px;
  background-color: $bmg-celeste;
  z-index: -1;
}