.anchorjs-link,
.anchorjs-link:hover {
  color: #DDD;
  text-decoration: none;
}

code {
  font-size: 12px;
  white-space: pre;
}

.hljs {
  background: transparent !important;
  padding: 0 !important;
}

$bmg-white: #ffffff;
$bmg-black: #4c4c4c;

$bmg-stack: #999;

$bmg-tundora: #4d4d4d;
$bmg-rio-grande: #afce06;
$bmg-turquoise: #1CE0D0;
$bmg-supernova: #ffcc00;
$bmg-monza: #c80031;
$bmg-malibu: #51d0ff;
$bmg-carrot: #f59422;

$bmg-celeste: #ededed;

$bmg-spice: #a7572c;
$bmg-pine-green: #319990;
$bmg-light-crimson: #f66b8f;
$bmg-jazzberry: #a11762;


$bmg-btn-border: #dddddd;

$bmg-blue: #51D0FF; //Malibu
$bmg-blue-dark: darken($bmg-blue, 10%);
$bmg-blue-darker: darken($bmg-blue, 15%);
$bmg-blue-light: lighten($bmg-blue, 0%);
$bmg-blue-lighter: lighten($bmg-blue, 10%);

$bmg-gray: $bmg-tundora; //Mine Shaft
$bmg-gray-light: #f3f3f3;
$bmg-gray-lighter: #dadada;
$bmg-gray-dark: #999;
$bmg-gray-darker: #666;

$bmg-disabled: $bmg-btn-border;

$bmg-border: transparentize($bmg-black, .85);
$bmg-border-light: transparentize($bmg-black, .95);
$bmg-border-dark: transparentize($bmg-black, .70);

.head {
  font-size: larger;
  font-weight: bolder;
}

.color-grid {
  margin: 10px 0;
  padding: 0 10px 0 0;
}

.visible-grid {
  color: $bmg-black;
  background-color: $bmg-celeste;
  border: 1px solid $bmg-malibu;
  text-align: center;
  margin: 10px 0;
}

.color {
  width: 100%;
  min-width: 33%;
  display: block;
  text-align: center;
  border-radius: 30px;

  &.ec-white {
    color: $bmg-black;
    background-color: $bmg-white;
    border: 1px solid $bmg-black;
  }

  &.ec-black {
    color: $bmg-white;
    background-color: $bmg-black;
  }

  &.ec-stack {
    color: $bmg-white;
    background-color: $bmg-stack;
  }

  &.ec-light-grey {
    color: $bmg-black;
    background-color: $bmg-btn-border;
  }

  &.ec-primary {
    color: $bmg-white;
    background-color: $bmg-malibu;
  }

  &.ec-secondary {
    color: $bmg-white;
    background-color: $bmg-tundora;
  }

  &.ec-success {
    color: $bmg-white;
    background-color: $bmg-rio-grande;
  }

  &.ec-info {
    color: $bmg-white;
    background-color: $bmg-turquoise;
  }

  &.ec-warning {
    color: $bmg-white;
    background-color: $bmg-supernova;
  }

  &.ec-error {
    color: $bmg-white;
    background-color: $bmg-monza;
  }

  &.ec-celeste {
    color: $bmg-black;
    background-color: $bmg-celeste;
  }

  &.ec-spice {
    color: $bmg-white;
    background-color: $bmg-spice;
  }

  &.ec-pine-green {
    color: $bmg-white;
    background-color: $bmg-pine-green;
  }

  &.ec-light-crimson {
    color: $bmg-white;
    background-color: $bmg-light-crimson;
  }

  &.ec-jazzberry {
    color: $bmg-white;
    background-color: $bmg-jazzberry;
  }
}

.panel-example {
  vertical-align: middle;
  text-align: center;
  min-height: 160px;
  line-height: 160px;
  font-size: large;
}

.dependency-warning {
  display: inline-block;
  width: 100%;
  border: 1px solid $bmg-supernova;
  border-radius: 3px;
  padding: 6px 10px;
  background-color: rgba(255, 204, 0, 0.25)
}
